.hero-Section {
    background: url(https://firebasestorage.googleapis.com/v0/b/dishdivvy-2fbca.appspot.com/o/static%2Fdesktop-homepage.gif?alt=media&token=a2b32f69-8635-4fa7-a593-ca8b1dd52f29), rgba(0, 0, 0,0.3);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    position: relative;
}